.hand {
    position: fixed;
    bottom: 0px;
    left: 10vw;
    display: flex;
}

.cardRow {
    display: flex;
}

.confirmButton {
    margin: 40px 0;
    padding: 10px 0;
    max-width: 80px;
    white-space: pre-wrap !important;
    line-height: 1.2em;
}