.cardRow {
    display: flex;
}

.selectButton {
    height: 50px;
    padding: 10px 0;
    width: 80px;
    white-space: pre-wrap !important;
    line-height: 1.2em;
    margin-right: 5px;
}

.selectContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 80px;
}

.dropList {
    width: calc(9vh + 1vw - 2px);
    border: solid 1px black;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

:host::ng-deep.dropList mat-card {
    margin-left: calc(0.5vw - 1px);
    margin-top: calc(1vh - 1px);
}