<div class="cardRow">
  <div class="selectContainer">
    <!-- *ngIf="canBeSelected()" -->
    <button
      mat-stroked-button
      class="selectButton"
      color="primary"
      (click)="onTakeRow()"
      [disabled]="!isYourTurn()"
    >
      Reihe wählen
    </button>
  </div>
  <app-card *ngFor="let i of cards" [id]="i" [type]="'row'"></app-card>
  <div
    cdkDropList
    #rowDropSpot="cdkDropList"
    [id]="'rowDropSpot_' + rowIndex"
    [cdkDropListData]="dropList"
    [cdkDropListConnectedTo]="selectedCardDragLists"
    (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="horizontal"
    class="dropList"
    *ngIf="canDrop()"
  >
    <app-card *ngFor="let card of dropList" cdkDrag [id]="card"></app-card>
  </div>
</div>
