<div class="cardRow">
  <div class="selectContainer">
    <button
      mat-flat-button
      class="selectButton"
      color="primary"
      (click)="onTakeRow()"
      *ngIf="canBeSelected()"
      [disabled]="!isYourTurn()"
      [style.width.px]="getChooseButtonWidth()"
      [style.height.px]="getChooseButtonHeight()"
      [style.fontSize.px]="getChooseButtonFontSize()"
    >
      Reihe wählen
    </button>
  </div>
  <app-card *ngFor="let i of cards" [id]="i" [type]="'row'"></app-card>
  <div
    cdkDropList
    #rowDropSpot="cdkDropList"
    [id]="'rowDropSpot_' + rowIndex"
    [cdkDropListData]="dropList"
    [cdkDropListConnectedTo]="selectedCardDragLists"
    (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="horizontal"
    class="dropList"
    *ngIf="canDrop()"
    [style.width.px]="getDropListWidth()"
  >
    <app-card *ngFor="let card of dropList" cdkDrag [id]="card"></app-card>
  </div>
</div>
