<mat-card [class]="'card'+' '+type" [style.backgroundColor]="backgroundColorBull(getBullAmount().length)" [style.width.px]="getCardWidth()" [style.height.px]="getCardHeight()" (click)="onCardSelected()">
    <div class="border-container" [ngClass]="{selectedInHand: isSelected, smallestCard: isSmallestCard && id !== -1}"></div>
    <div class="card__header">
        <!-- <p>
            {{ getBullAmount() === -1 ? '?' : getBullAmount() }}
        </p> -->
        <div class="card__header__bullContainer">
            <mat-icon *ngFor="let i of getBullAmount()" svgIcon="bull" [style.flex-basis]="flexBasisBull(getBullAmount().length, i)"></mat-icon>
        </div>
    </div>
    <mat-card-content class="card__digits">
        <p [style.fontSize.px]="getCardFontSize()">
            {{ id === -1 ? '?' : id }}
        </p>
    </mat-card-content>
    <mat-icon svgIcon="bull_background" class="bull-background"></mat-icon>
</mat-card>