.card {
  min-width: 42px;
  min-height: 67px;
  cursor: pointer;
  padding: 0;

  user-select: none;

  &__header {
    padding-top: 10%;
    height: 30%;
    max-height: 40%;

    &__bullContainer {
      margin: 0 auto;
      width: 50%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .mat-icon {
        height: 50%;
        width: 25%;
      }
    }
  }

  &__digits {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    > p {
      text-align: center;
    }
  }
}

.hand {
  margin: 0 0.5vw;
}

.row {
  margin: 1vh 0.5vw;
}

.selected {
  margin: 0;
}

.border-container {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.selectedInHand {
  border: 5px solid red;
  box-sizing: border-box;
}

.smallestCard {
  border: 5px solid #ffd740;
  box-sizing: border-box;
}

.bull-background {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
}
