<div class="sc-wrapper">
  <mat-toolbar color="primary" class="sc-wrapper__title">
    Ausgewählte Karten
  </mat-toolbar>
  <div class="selectedCardsContainer">
    <span *ngIf="!playerStates || playerStates.length === 0" class="none-selected-label">Keine Karten ausgewählt</span>
    <div
      cdkDropList
      #selectedCardDropList="cdkDropList"
      [id]="'selectedCardDropList_' + playerStates[i].player.name"
      [cdkDropListData]="[playerStates[i].selectedCard]"
      [cdkDropListConnectedTo]="dropLists"
      (cdkDropListDropped)="drop($event)"
      *ngFor="let ps of playerStates; index as i"
      class="drag-list-container"
    >
      <!-- <div> -->
        <app-card
          cdkDrag
          [id]="canPlay() || isCurrentPlayer(ps.player.name) ? ps.selectedCard : -1"
          [cdkDragDisabled]="
            !(
              isCurrentPlayer(ps.player.name) &&
              isSmallestCard(ps.selectedCard) &&
              canPlay() &&
              canDrop()
            )
          "
          [isSmallestCard]="isSmallestCard(ps.selectedCard) && canPlay() && !isCurrentPlayer(ps.player.name)"
          [isSelected]="canPlay() && isCurrentPlayer(ps.player.name)"
          [type]="'selected'"
        ></app-card>
        <p class="name-label">{{ ps.player.name }}</p>
      <!-- </div> -->
    </div>
  </div>
</div>
