<div class="selectedCardsContainer">
    <div
    cdkDropList
    #selectedCardDropList="cdkDropList"
    id="selectedCardDropList"
    [cdkDropListData]="selectedCards"
    [cdkDropListConnectedTo]="['rowDropSpot_0','rowDropSpot_1','rowDropSpot_2','rowDropSpot_3','rowDropSpot_4']"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let card of selectedCards; index as i">
      <app-card cdkDrag [id]="canPlay() || isCurrentPlayer(playerNames[i]) ? card : -1" [cdkDragDisabled]="!(isCurrentPlayer(playerNames[i]) && isSmallestCard(card) && canPlay())" [isSmallestCard]="isSmallestCard(card)"></app-card>
      <p>{{ playerNames[i] }}</p>
    </div>
  </div>
</div>