<mat-card class="joinAndCreateContainer">
  <mat-toolbar
    class="joinAndCreateTitle toolbar-justify-content-center"
    color="primary"
    >
    <span>
      Willkommen zu Sechs Nimmt Online
    </span>
    <mat-icon svgIcon="sechsnimmt_logo" class="sechsNimmtIcon"></mat-icon>
    </mat-toolbar
  >
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Spiel erstellen">
      <div class="formContainer">
        <form
          #createGameForm="ngForm"
          (ngSubmit)="onCreateRoom(createGameForm)"
        >
          <mat-form-field appearance="fill">
            <mat-label>Dein Name</mat-label>
            <input
              type="text"
              matInput
              id="playerName"
              name="playerName"
              required
              maxlength="16"
              ngModel
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Deine Spiel-ID</mat-label>
            <input
              type="text"
              matInput
              id="createGameId"
              name="createGameId"
              required
              maxlength="32"
              ngModel
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="createGameForm.invalid"
          >
            Spiel erstellen
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Spiel beitreten">
      <div class="formContainer">
        <form #joinGameForm="ngForm" (ngSubmit)="onJoinRoom(joinGameForm)">
          <mat-form-field appearance="fill">
            <mat-label>Dein Name</mat-label>
            <input
              type="text"
              matInput
              id="playerName"
              name="playerName"
              required
              maxlength="16"
              ngModel
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Spiel-ID</mat-label>
            <mat-select
              ngModel
              name="joinGameId"
              matInput
              id="joinGameId"
              required
              #joinGameIdFormControl="ngModel"
            >
              <mat-option
                *ngFor="let option of queuedRoomIds"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="joinGameForm.invalid"
          >
            Spiel beitreten
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<button mat-raised-button class="clear-data-button" (click)="clearBrowserDara()">
  <mat-icon>delete</mat-icon>
  Clear all browser data
</button>