.joinAndCreateContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.joinAndCreateTitle {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.joinGameContainer {
    width: 100%;
    position: relative;
    height: 50%;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.createGameContainer {
    width: 100%;
    position: relative;
    top: 25%;
    height: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}