.minus-points-container {
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  border-radius: 0;
  max-height: 100vh;
  // margin: 0 5px 5px 0;
  // max-width: 400px;
  // font-size: 40px;

  > .mock-container {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    overflow: hidden;

    > mat-toolbar {
      height: 32px;
      cursor: pointer;
      justify-content: flex-end;
    }

    > mat-table {
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
        0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
      overflow: auto;
      height: 100%;
    }
  }

  > .minus-cards-wrapper {
    max-width: 40%;
    
    > mat-toolbar {
      height: 32px;
      cursor: pointer;
    }
    
    .minus-cards-container {
      background-color: rgba(0, 0, 0, 0.8);
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }
  }
}

[mat-cell],
mat-cell,
[mat-header-cell],
mat-header-cell {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

[mat-cell]:first-child,
mat-cell:first-child,
[mat-header-cell]:first-child,
mat-header-cell:first-child {
  border-left: 0;
  border-right: 0;
}

[mat-cell]:last-child,
mat-cell:last-child,
[mat-header-cell]:last-child,
mat-header-cell:last-child {
  border-right: 0;
}

[mat-header-cell],
mat-header-cell {
  font-size: 24px;
  justify-content: center;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.mat-cell,
mat-cell {
  font-size: 24px;
  justify-content: flex-start;
  padding-left: 12px !important;
  padding-right: 12px !important;
  // overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}

.alignRight {
  justify-content: flex-end;
}

.mat-column-minusPoints {
  min-width: 150px;
}
