.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ccccff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}