.fill-remaining-space {
    flex: 1 1 auto;
}

.sechsNimmtIcon {
    margin-right: 5px;
    // margin-top: 5px;
}

.homeLink {
    cursor: pointer;
}

.homeLink:focus {
    outline: none;
}

.main-toolbar {
    height: 6vh;
}