<div class="finished-game-container">
  <mat-toolbar color="primary">Spiel beendet. {{ getWinnerMessage() }}</mat-toolbar>
  <mat-table [dataSource]="getSortedPlayerStates()" matSort [matSortDisableClear]="true">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Spieler</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.player.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="minusPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Minuspunkte diese Runde</mat-header-cell>
      <mat-cell *matCellDef="let element" class="alignRight">{{ element.minusPoints }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalMinusPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Minuspunkte gesamt</mat-header-cell>
      <mat-cell *matCellDef="let element" class="alignRight">{{ element.totalMinusPoints }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['name', 'minusPoints', 'totalMinusPoints']; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'minusPoints', 'totalMinusPoints']"></mat-row>
    </mat-table>
  <div class="button-container">
    <button mat-raised-button color="primary" matDialogClose (click)="onStartNewGame()" class="start-new-game-button" [disabled]="!isHost">Weiteres Spiel starten</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="onReturnToHome()" class="return-home-button">Zur Startseite zurückkehren</button>
  </div>
</div>
