.hand {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 2vw;
    margin-bottom: 5px;
}

.rowAndButtons {
    display: flex;
}

.cardRow {
    display: flex;
}

.confirmContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmButton {
    padding: 5%;
    white-space: pre-wrap !important;
    line-height: 1.2em;
    margin-right: 5px;
    min-width: unset;
}