<div class="welcomeScreenContainer">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="joinAndCreateContainer">
      <div class="joinGameContainer">
        <form #joinGameForm="ngForm" (ngSubmit)="onJoinGame(joinGameForm)">
          <mat-form-field appearance="fill">
            <mat-label>Dein Name</mat-label>
            <input
              type="text"
              matInput
              id="playerName"
              name="playerName"
              required
              ngModel
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              type="text"
              placeholder="Spiel-ID"
              matInput
              id="joinGameId"
              name="joinGameId"
              required
              [matAutocomplete]="auto"
              ngModel
              #joinGameIdFormControl="ngModel"
              />
              <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <br />
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="joinGameForm.invalid"
          >
            Spiel beitreten
          </button>
        </form>
      </div>
      <div class="createGameContainer">
        <form
          #createGameForm="ngForm"
          (ngSubmit)="onCreateGame(createGameForm)"
        >
          <mat-form-field appearance="fill">
            <mat-label>Dein Name</mat-label>
            <input
              type="text"
              matInput
              id="playerName"
              name="playerName"
              required
              ngModel
            />
          </mat-form-field>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Deine Spiel-ID</mat-label>
            <input
              type="text"
              matInput
              id="createGameId"
              name="createGameId"
              required
              ngModel
            />
          </mat-form-field>
          <br />
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="createGameForm.invalid"
          >
            Spiel erstellen
          </button>
        </form>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>Dein Spiel {{ joinedGame?.game.id }}</mat-toolbar>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let player of joinedGame?.game.players" [ngClass]="{'isCurrentPlayer': isCurrentPlayer(player)}">{{
          player.name + ( isCurrentPlayer(player) ? ' (Du)' : '') + ( player.isHost ? ' [Host]' : '' )
        }}</mat-list-item>
      </mat-list>
      <button mat-raised-button color="primary" (click)="onStartGame()" [disabled]="!(joinedGame?.player.isHost)">Spiel starten</button>
      <button mat-raised-button color="warn" (click)="onLeaveGame()" [disabled]="!joinedGame">Spiel verlassen</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
