<div class="enter-name-container">
  <mat-toolbar color="primary">Spiel {{ data.roomId }} beitreten?</mat-toolbar>
  <form #enterNameForm="ngForm" (ngSubmit)="confirm()">
    <div class="form-container">
      <mat-form-field class="form-container__input">
        <mat-label>Name</mat-label>
        <input matInput #nameField name="playername" [(ngModel)]="playerName" cdkFocusInitial required/>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-raised-button type="submit" class="join-button" [disabled]="enterNameForm.invalid">
        Beitreten
      </button>
      <button mat-raised-button  color="warn" type="button" (click)="onReturnToHome()">Zurück zur Startseite</button>
    </div>
  </form>
</div>