/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ccccff;
}

.toolbar-justify-content-center {
  justify-content: center;
  white-space: pre-wrap;
}

.snackbar-center-text > simple-snack-bar {
  justify-content: center;
}

.minus-points-sheet-container {
  padding: 0 !important;
  max-width: 400px;
  min-width: unset !important;
}
