.lobbyContainer {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 13vh;
  left: 10vw;
  text-align: center;
  padding: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &__title {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__main {
    display: flex;
    height: calc(100% - 176px);
    overflow: hidden;

    &__list {
      min-width: 60%;
      flex: 1 1 auto;
      max-height: 100%;
      overflow: hidden;
      padding: 0;
      border-radius: unset;

      > mat-card-content {
        max-height: calc(100% - 64px);
        overflow: auto;
      }
    }

    &__options {
      width: 40%;
      max-width: 400px;
      padding: 0;

      &__content {
        max-height: calc(100% - 64px);
        padding: 10px;
        box-sizing: border-box;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        overflow: auto;

        > * {
          margin-bottom: 10px;
        }

        mat-form-field {
          width: 100%;
          font-size: 20px;
          padding: 0 20px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.breakWords {
  white-space: pre-wrap !important;
}

.invite-link-field {
  &__span {
    font-weight: 400;
  }

  &__underline {
    height: 1px;
    background-color: black;
  }
}

.footer {
  border-radius: inherit;

  &__row-2 {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__row-1,
  &__row-2 {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    overflow: hidden;

    .copy-button {
      margin-right: 10px;
      padding: 0;
      width: 40px;
      min-width: unset;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.snackbar-center-text > simple-snack-bar {
  justify-content: center;
}

.start-game-button {
  background-color: #00ff00;
}

.player-list {
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  &__item:nth-child(even) {
    background-color: #ccc;
  }

  &__item:nth-child(odd) {
    background-color: #fff;
  }
}

.isCurrentPlayer {
  background-color: grey;
}
