<mat-card class="lobbyContainer">
  <mat-toolbar class="toolbar-justify-content-center lobbyContainer__title"
    ><span>
      Dein Spiel <strong>{{ joinedRoom?.room.id }}</strong>
    </span>
  </mat-toolbar>
  <div class="lobbyContainer__main">
    <mat-card class="lobbyContainer__main__list">
      <mat-toolbar color="primary" class="toolbar-justify-content-center"
        >Spieler</mat-toolbar
      >
      <mat-card-content>
        <mat-list role="list" class="player-list">
          <mat-list-item
            role="listitem"
            *ngFor="let player of joinedRoom?.room.players | filterIsActive"
            [ngStyle]="{
              backgroundColor: isCurrentPlayer(player) ? '#a284d8' : 'auto'
            }"
            class="player-list__item"
          >
            <!-- [ngClass]="{ isCurrentPlayer: isCurrentPlayer(player) }" -->
            <span>
              {{
                player.name +
                  (isCurrentPlayer(player) ? " (Du)" : "") +
                  (player.isHost ? " [Host]" : "")
              }}
            </span>
            <span class="spacer"></span>
            <mat-icon *ngIf="player.isHost">star</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="lobbyContainer__main__options">
      <mat-toolbar color="accent" class="toolbar-justify-content-center"
        >Optionen</mat-toolbar
      >
      <mat-card-content class="lobbyContainer__main__options__content">
        <!-- <section class="lobbyContainer__main__options__content"> -->
        <mat-slide-toggle
          color="accent"
          (change)="onChangeOptions()"
          [(ngModel)]="options.hideMinusPoints.value"
          [disabled]="!joinedRoom?.player.isHost"
        >
          <span class="breakWords">{{ options.hideMinusPoints.text }}</span>
          <!-- {{ options.hideMinusPoints.text }} -->
        </mat-slide-toggle>
        <mat-form-field>
          <mat-label>{{ options.rows.text }}</mat-label>
          <mat-select
            (selectionChange)="onChangeOptions()"
            [(ngModel)]="options.rows.value"
            [disabled]="!joinedRoom?.player.isHost"
          >
            <mat-option
              *ngFor="let option of options.rows.possibleValues"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ options.rounds.text }}</mat-label>
          <mat-select
            (selectionChange)="onChangeOptions()"
            [(ngModel)]="options.rounds.value"
            [disabled]="!joinedRoom?.player.isHost"
          >
            <mat-option
              *ngFor="let option of options.rounds.possibleValues"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ options.maxPlayers.text }}</mat-label>
          <mat-select
            (selectionChange)="onChangeOptions()"
            [(ngModel)]="options.maxPlayers.value"
            [disabled]="!joinedRoom?.player.isHost"
          >
            <mat-option
              *ngFor="let option of maxPlayersPossibleValues"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ options.cards.text }}</mat-label>
          <input
            matInput
            (change)="onCardsChanged($event)"
            type="number"
            name="cardsOption"
            [disabled]="!joinedRoom?.player.isHost"
            #cardsFormControl
            min="1"
            max="999"
          />
        </mat-form-field>
        <!-- </section> -->
      </mat-card-content>
    </mat-card>
  </div>
  <mat-toolbar class="footer">
    <mat-toolbar-row class="footer__row-1">
      <span>
        Spieler einladen:
      </span>
      <span class="spacer"></span>
      <button
        mat-raised-button
        class="start-game-button"
        (click)="onStartGame()"
        [disabled]="!joinedRoom?.player.isHost || disableStart()"
      >
        Spiel starten
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="footer__row-2">
      <button
        mat-raised-button
        color="primary"
        class="copy-button"
        [cdkCopyToClipboard]="inviteLink"
        (click)="selectElementContents(true)"
        matTooltip="Kopieren"
      >
        <mat-icon svgIcon="copy-to-clipboard"></mat-icon>
      </button>
      <div class="invite-link-field">
        <span
          class="invite-link-field__span"
          id="inviteLinkInput"
          (click)="selectElementContents(false)"
          >{{ inviteLink }}</span
        >
        <div class="invite-link-field__underline"></div>
      </div>
      <span class="spacer"></span>
      <button
        mat-raised-button
        color="warn"
        (click)="onLeaveRoom()"
        [disabled]="!joinedRoom"
      >
        Spiel verlassen
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>
<mat-toolbar color="warn" class="hint-container" [@showHideHint]="hintOpen ? 'open' : 'closed'">
  <span>{{ hint }}</span>
</mat-toolbar>