.lobbyContainer {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 13vh;
  left: 10vw;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    height: calc(100% - 176px);

    &__list {
      width: 60%;
      max-height: 100%;
      overflow: hidden;
      padding: 0;
    }

    &__options {
      width: 40%;
      padding: 0;

      &__content {
        margin: 10px !important;
      }
    }
  }
}

.breakWords {
  white-space: pre-wrap !important;
}

.invite-link-field {
  &__span {
    font-weight: 400;
  }

  &__underline {
    height: 1px;
    background-color: black;
  }
}

.footer {
  // position: absolute;
  // bottom: 0;

  &__row-1,
  &__row-2 {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    overflow: hidden;

    .copy-button {
      margin-right: 10px;
      padding: 0;
      width: 40px;
      min-width: unset;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.snackbar-center-text > simple-snack-bar {
  justify-content: center;
}

.start-game-button {
  background-color: #00ff00;
}

.player-list {
  max-height: 100%;
  overflow: auto;

  &__item:nth-child(even) {
    background-color: #ccc;
  }

  &__item:nth-child(odd) {
    background-color: #fff;
  }
}

.isCurrentPlayer {
  background-color: grey;
}
